* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #FFE194;
    color: #222;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .title {
    color: #222;
    font-size: 1.5rem;
    text-align: center;
  }
  .temperature-converter {
    background: #1B9C85;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
  }
  .result {
    text-align: center;
    margin: 20px 0;
  }
  .result-heading {
    color: #555;
    font-size: 1rem;
    font-weight: 600;
  }
  .celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
  }
  label {
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
  }
  input:focus {
    border: 1px solid #4c49f3;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .degree-field {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  option {
    background-color: #4C4C6D;
    color: #f6f6f6;
  }

  button {
    background-color: #4C4C6D;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-right: 4px;
}

.suhu {
    color: white;
}

button:hover {
    background-color: #4C4C6D;
}

  #convert-btn {
    background: linear-gradient(to bottom, #3633f3, #120fb9);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    
    transition: all 0.3s ease-in;
  }
  #convert-btn:hover {
    background: linear-gradient(to bottom, #4a47e7, #322fda);
  }